html, body{
    background:#000;
    position: absolute;
    top:0;
    left:0;
    padding: 0;
    margin: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
}
.with_bg{

    background: url(../images/index_bg_1920.jpg) center center;
    background-size: cover;
}

.graphic_image{
    position: absolute;
}

#main_canvas{
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
}