html, body{
    background:#484937;
    position: absolute;
    top:0;
    left:0;
    padding: 0;
    margin: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body{
    height:200%;
    font-family: '微軟正黑體', "Heiti TC", serif;
    font-size: 14px;
}

#main_canvas{
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
}

.scroll_block{

    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    overflow: hidden;
    visibility: hidden;
}

#logo{
    position: fixed;
    top:16px;
    left:16px;
    background:url(../images/logo_1200.png) no-repeat;
    width: 107px;
    height: 36px;
    z-index: 2000;
    cursor: pointer;
}
#logo.lighten{
    background-position: 0 -40px;
}

/** loading **/
#loading_block{
    position: fixed;
    z-index: 8001;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: #484937;
}
#loading_block .loading_icon{
    position: absolute;
    background:url(../images/loading.gif);
    width: 300px;
    height: 190px;
    left:50%;
    top:50%;
    margin-left: -150px;
    margin-top: -95px;;
}


/** small menu **/
#small_menu_block{
    position: fixed;
    top:50%;
    right:0;
    width:40px;
    margin-top: -117px;
    z-index: 2000;
}
#small_menu_block .button_group{
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
}
#small_menu_block .button{
    position: absolute;
    /*background:#000;*/

    width:34px;
    height: 34px;

    cursor: pointer;
}

#small_menu_block .button:nth-of-type(1){
    top:0;
}
#small_menu_block .button:nth-of-type(2){
    top:50px;
}
#small_menu_block .button:nth-of-type(3){
    top:100px;
}
#small_menu_block .button:nth-of-type(4){
    top:150px;
}
#small_menu_block .button:nth-of-type(5){
    top:200px;
}
#small_menu_block .button .core_1{
    position: absolute;
    background: url(../images/menu_close_v01_1200.png);
    z-index: 1;
    width: 8px;
    height: 8px;
    left:13px;
    top:13px;
}
#small_menu_block .button .core_2{
    position: absolute;
    background: url(../images/menu_close_v02_1200.png);
    background-size: 100% 100%;
    z-index: 0;
    width: 22px;
    height: 22px;
    left:6px;
    top:6px;
}
#small_menu_block .button .core_3{
    position: absolute;
    background: url(../images/menu_close_v03_1200.png);
    z-index: 2;
    width: 10px;
    height: 10px;
    left:12px;
    top:12px;
}
#small_menu_block .red_line{
    position: absolute;
    width:1px;
    background:#d1141b;
    height:200px;
    left:17px;
    top:17px;
    z-index: 0;
}

/** big menu **/
#big_menu_block{
    position: fixed;
    top:0;
    right:0;
    z-index: 3000;
    height: 100%;
}
.trigger_container{
    position: absolute;
    top:10px;
    right:10px;
    /*background: #000;*/
    width:32px;
    height: 32px;
    cursor: pointer;
    z-index: 1;
}
.trigger_bar{
    position: absolute;
    width: 32px;
    height:6px;
    background:#d1141b;
    z-index: 10;
}

.trigger_bar:nth-of-type(1) {
    top:0;
}
.trigger_bar:nth-of-type(2) {
    top:13px;
}
.trigger_bar:nth-of-type(3) {
    top:26px;
}
.trigger_bar:nth-of-type(4) {
    top:0;
    left:13px;
    width:6px;
    height:32px;
}
#big_menu_block .basement{
    position: absolute;
    width:200px;
    top:0;
    right:-200px;
    height:100%;
    background: #151515;
    z-index: 0;
}
#big_menu_block .button_group{
    position: absolute;
    left:50%;
    top:70px;
    width:200px;
    /*height:300px;*/
    margin-left: -100px;
    /*background: #000;*/
}

#big_menu_block .menu_button{

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: url(../images/menu_txt_1200.png) no-repeat;

    width:80px;
    height:18px;
    /*border: 1px solid#fff;*/
    cursor: pointer;
}

#big_menu_block .menu_button:nth-of-type(2){
    background-position: 0 -36px;
    cursor: default;
}

#big_menu_block .menu_button:nth-of-type(3){
    background-position: 0 -72px;
}

#big_menu_block .menu_button:nth-of-type(4){
    background-position: 0 -108px;
    cursor: default;
}

#big_menu_block .menu_button:nth-of-type(5){
    background-position: 0 -144px;
}

#big_menu_block .menu_button:nth-of-type(6){
    background-position: 0 -180px;
    cursor: default;
}

#big_menu_block .menu_button:nth-of-type(7){
    background-position: 0 -216px;
}

#big_menu_block .menu_button:nth-of-type(8){
    background-position: 0 -180px;
    cursor: default;
}

#big_menu_block .menu_button:nth-of-type(9){
    background-position: 0 -288px;
}

.menu_red_line{
    position: absolute;
    width:128px;
    height:1px;
    background: #d1141b;
    left:50%;
    margin-left: -64px;
}
#big_menu_block .link_info{
    position: absolute;
    background: url(../images/menu_btn01_1200.png);
    width: 141px;
    height: 47px;
    /*border: 1px solid #fff;*/
    bottom: 70px;
    left:50%;
    margin-left: -70px;
    cursor: pointer;

}
#big_menu_block .link_download {
    position: absolute;
    background: url(../images/menu_btn02_1200.png);
    width: 141px;
    height: 47px;
    /*border: 1px solid #fff;*/
    bottom: 24px;
    left:50%;
    margin-left: -70px;
    cursor: pointer;
}
#big_menu_block .link_info:hover{
    background-position: 0 -52px;
}
#big_menu_block .link_download:hover{
    background-position: 0 -52px;
}

/** index **/
#index_block{
}

.index_scene_1{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.index_scene_2{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#index_block .background{
    position: absolute;
    /*clip-path: url(#svgPath);*/
}

.index_bike{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -757px;
    margin-top: -454px;
    z-index: 3;
}
.index_text_1{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -380px;
    margin-left: 30px;
    width: 701px;
    height: 355px;
}
.index_text_2{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -30px;
    margin-left: 150px;
    width: 466px;
    height: 75px;
}
.index_text_3{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: 40px;
    margin-left: -10px;
    width: 797px;
    height: 170px;
    /*display: none;*/
}
.index_text_4{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: 200px;
    margin-left: -25px;
    width: 828px;
    height: 114px;
    /*display: none;*/
}

.index_scene_1 .index_text_1{
    background: url("../images/index_tit0101.png");
    background-size: cover;
}
.index_scene_1 .index_text_2{
    background: url("../images/index_tit0102.png");
    background-size: cover;
}
.index_scene_1 .index_text_3{
    background: url("../images/index_tit0103.png");
    background-size: cover;
}
.index_scene_1 .index_text_4{
    background: url("../images/index_tit0104.png");
    background-size: cover;
}

.index_scene_2 .index_text_1{
    background: url("../images/index_tit0201.png");
    background-size: cover;
}
.index_scene_2 .index_text_2{
    background: url("../images/index_tit0202.png");
    background-size: cover;
}
.index_scene_2 .index_text_3{
    background: url("../images/index_tit0203.png");
    background-size: cover;
}
.index_scene_2 .index_text_4{
    background: url("../images/index_tit0204.png");
    background-size: cover;
}

/** brand **/
#brand_block{
    /*background:url(../images/brand_1920.jpg) center center;*/
    /*background-size: cover;*/
    background:#1d1c1a;
}

#brand_block .right_group{
    position: absolute;
    top:50%;
    left:50%;
    width: 728px;
    height: 780px;
    margin-left: -40px;
    margin-top: -390px;

    z-index: 1;

    /*background: rgba(255,0,0,.5);*/
}

.text_row_1, .text_row_2, .text_row_3, .text_row_4{
    position: absolute;
    top:0;
    left:0;
}

#brand_block .text_row_1{
    background: url(../images/brand_txt_bgt01.png);
    background-size: cover;
    /*width: 728px;*/
    /*height: 180px;*/
    width: 100%;
    height: 23.08%;

    top:0;
}

#brand_block .text_row_2{
    background: url(../images/brand_txt_bgt02.png);
    background-size: cover;
    width: 100%;
    height: 23.08%;

    top:25.64%;
}

#brand_block .text_row_3{
    background: url(../images/brand_txt_bgt03.png);
    background-size: cover;
    width: 100%;
    height: 23.08%;

    top:51.28%;
}

#brand_block .text_row_4{
    background: url(../images/brand_txt_bgt04.png);
    background-size: cover;
    width: 100%;
    height: 23.08%;

    top:76.72%;
}
#brand_block .center_black{
    position: absolute;
    z-index: 1;
    background: #1d1c1a;

    top:70px;
    left:70px;
    width: 588px;
    height: 640px;

}
#brand_block .content_text{
    position: absolute;
    line-height: 34px;
    letter-spacing: 4px;
    top:170px;
    left:160px;
    width:408px;
    z-index: 2;
    font-size: 22px;
    color: #d0cfcd;

    text-align: justify;

    -webkit-font-smoothing: antialiased;
}
#brand_block .little_triangle{
    position: absolute;
    background: url(../images/brand_arrow.png);
    background-size: cover;
    top:180px;
    left:142px;
    width: 7px;
    height: 15px;
    z-index: 3;
}

#brand_block .title_text{
    font-size: 24px;
    font-weight: bold;
}


/** feature **/
#feature_block{
    background: url(../images/index_bg_01.jpg);
    background-size:cover;
}

#feature_block .svg_layer {
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
}
#feature_block .svg_layer polygon{
    fill:rgba(0,0,0,1);
}

.parallelogram{
    position: absolute;
    z-index: 1;
    width: 1110px;
    height: 1040px;
    background: url("../images/product_bick_bg.png");
    background-size: cover;
}

.feature_1, .feature_2, .feature_3, .feature_4{
    position: absolute;
    width: 100px;
    height:100px;
    top:0;
    left:0;
    visibility: hidden;
    z-index: 2;
}
.dot_big{
    position: absolute;
    z-index: 2;
    width: 38px;
    height: 38px;
}
.dot_big .dot_core{
    position: absolute;
    background: url(../images/product_dot_big01.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    left:-50%;
    top:-50%;
    z-index: 1;
}
.dot_big .dot_glow{
    position: absolute;
    background: url(../images/product_dot_big02.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    left:-50%;
    top:-50%;
}
.dot_small{
    position: absolute;
    z-index: 2;
    width: 5px;
    height: 5px;
}
.dot_small .dot_core{
    position: absolute;
    background: url(../images/product_dot_small.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    left:-50%;
    top:-50%;
    z-index: 1;
}
.feature_1{
    /*background:url(../images/product1_1920.jpg) center center;*/
    visibility: visible;
    left:70%;
    top:50%;
}
.feature_1 .feature_bike{
    position: absolute;
    background: url("../images/product_bike_01.png");
    background-size: cover;
    width: 439px;
    height: 862px;
    top:-401px;
    left:-320px;
}
.feature_1 .description{
    position: absolute;
    background: url("../images/product_txt_01.png");
    background-size: cover;
    width: 220px;
    height: 213px;
    z-index: 1;
    top:-110px;
    left:-670px;
}
.feature_1 .dot_big{
    top:3px;
    left:-400px;
}
.feature_1 .dot_small{
    left:-145px;
    top:3px;
}

.feature_1 .dot_line{
    position: absolute;
    z-index: 3;
    top:1px;
    left:-400px;
    width: 310px;
    height: 5px;
}

.feature_2{
    /*background:url(../images/product2_1920.jpg) center center;*/
    /*background-size:cover;*/
    left:40%;
    top:50%;
}
.feature_2 .feature_bike{
    position: absolute;
    /*background: url("../images/index_bike_1920.png");*/
    /*background-size: cover;*/
    /*width: 806px;*/
    /*height: 952px;*/
    width: 750px;
    height: 885px;
    top:-431px;
    left:-550px;
}
.feature_2 .dot_small{
    left:102px;
    top:180px;
}
.feature_2 .dot_big{
    left:362px;
    top:120px;
}

.feature_2 .dot_line{
    position: absolute;
    z-index: 3;
    left:102px;
    top:106px;
    width: 260px;
    height: 90px;
}
.feature_2 .description{
    position: absolute;
    background: url("../images/product_txt_02.png");
    background-size: cover;
    width: 220px;
    height: 213px;
    z-index: 1;
    left:402px;
    top:35px;
}




.feature_3{
    /*background:url(../images/product3_1920.jpg) center center;*/
    /*background-size:cover;*/
    left:85%;
    top:50%;
}
.feature_3 .feature_bike{
    position: absolute;
    /*width: 806px;*/
    /*height: 952px;*/
    width: 750px;
    height: 885px;
    top:-431px;
    left:-600px;
}
.feature_3 .dot_small{
    left:-312px;
    top:-249px;
}
.feature_3 .dot_big{
    left:-552px;
    top:-170px;
}

.feature_3 .dot_line{
    position: absolute;
    z-index: 3;
    left:-552px;
    top:-251px;
    width: 240px;
    height: 100px;
}
.feature_3 .description{
    position: absolute;
    background: url("../images/product_txt_03.png");
    background-size: cover;
    width: 253px;
    height: 260px;
    z-index: 1;
    left:-872px;
    top:-270px;
}

.feature_4{
    /*background:url(../images/product4_1920.jpg) center center;*/
    /*background-size:cover;*/
    left:75%;
    top:50%;
}
.feature_4 .feature_bike{
    position: absolute;
    /*width: 806px;*/
    /*height: 952px;*/
    width: 750px;
    height: 885px;
    top:-431px;
    left:-600px;
}
.feature_4 .dot_small{
    left:-330px;
    top:266px;
}
.feature_4 .dot_big{
    left:-662px;
    top:190px;
}

.feature_4 .dot_line{
    position: absolute;
    z-index: 3;
    left:-662px;
    top:188px;
    width: 332px;
    height: 100px;
}
.feature_4 .description{
    position: absolute;
    background: url("../images/product_txt_04.png");
    background-size: cover;
    width: 304px;
    height: 229px;
    z-index: 1;
    left:-1018px;
    top:91px;
}

.feature_icon_group{
    position: absolute;
    z-index: 100;
    right:100px;
    bottom:100px;
    width:320px;
}
.feature_icon{
    position: relative;
    float:left;
    background: url("../images/product_list_v2.png");
    width:75px;
    height:75px;
    margin-right:5px;
}
.feature_icon:nth-of-type(1){
    background-position: 0 0;
}
.feature_icon:nth-of-type(2){
    background-position: -80px 0;
}
.feature_icon:nth-of-type(3){
    background-position: -160px 0;
}
.feature_icon:nth-of-type(4){
    background-position: -240px 0;
}

.feature_icon:nth-of-type(1):hover, .feature_icon:nth-of-type(1).selected{
    background-position: 0 -80px;
    cursor: pointer;
}

.feature_icon:nth-of-type(2):hover, .feature_icon:nth-of-type(2).selected{
    background-position: -80px -80px;
    cursor: pointer;
}

.feature_icon:nth-of-type(3):hover, .feature_icon:nth-of-type(3).selected{
    background-position: -160px -80px;
    cursor: pointer;
}

.feature_icon:nth-of-type(4):hover, .feature_icon:nth-of-type(4).selected{
    background-position: -240px -80px;
    cursor: pointer;
}

/** spec **/
#detail_block{
    /*background:url(../images/detail_1920.jpg) center center;*/
    /*background-size: cover;*/
    background: #1d1c1a;
}

#detail_block .left_bike_1{
    position: absolute;
    top:50%;
    left:50%;
    /*background: url("../images/detail_bike01.png");*/
    /*background-size: cover;*/
    z-index: 2;
    width: 962px;
    height: 659px;

    margin-left: -960px;
    margin-top: -220px;
}

#detail_block .left_bike_2{
    position: absolute;
    top:50%;
    left:50%;
    background: url("../images/detail_bike02.png");
    background-size: cover;
    z-index: 1;
    width: 698px;
    height: 627px;

    margin-left: -650px;
    margin-top: -308px;
}

#detail_block .bike_label{
    position: absolute;
    background: url("../images/detail_bike_name.png");
    background-size: cover;
    width: 172px;
    height: 61px;
    left:90px;
    bottom:70px;
    z-index: 3;
}

#detail_block .detail_background{
    position: absolute;
    background: url("../images/detail_txt_bg.png");
    background-size: cover;
    width: 939px;
    height: 1180px;
    top:50%;
    left:50%;
    margin-left: -60px;
    margin-top: -590px;
}

#detail_block .detail_form{
    position: absolute;
    background: url("../images/detail_txt.png") no-repeat;
    background-size: cover;
    width: 648px;
    height: 679px;
    top:50%;
    left:50%;
    margin-left: 80px;
    margin-top: -288px;

}


/** watch **/
#watch_block{
    background: #1d1c1a;
}

#watch_block .center_group{
    position: absolute;
    top:50%;
    left:50%;
    width: 728px;
    height: 780px;
    margin-left: -350px;
    margin-top: -390px;

    z-index: 1;

    /*background: rgba(255,0,0,.5);*/
}

#watch_block .text_row_1{
    background: url(../images/brand_txt_bgt01.png);
    background-size: cover;
    /*width: 728px;*/
    /*height: 180px;*/
    width: 100%;
    height: 23.08%;

    top:0;
}

#watch_block .text_row_2{
    background: url(../images/brand_txt_bgt02.png);
    background-size: cover;
    width: 100%;
    height: 23.08%;

    top:25.64%;
}

#watch_block .text_row_3{
    background: url(../images/brand_txt_bgt03.png);
    background-size: cover;
    width: 100%;
    height: 23.08%;

    top:51.28%;
}

#watch_block .text_row_4{
    background: url(../images/brand_txt_bgt04.png);
    background-size: cover;
    width: 100%;
    height: 23.08%;

    top:76.72%;
}

.watch_bike_group{
    position: absolute;
    top:50%;
    left:50%;
    width: 100px;
    height: 100px;
    z-index: 2;
}
.watch_bike_1{
    position: absolute;
    background: url("../images/product_bike_01.png");
    background-size: cover;
    width: 439px;
    height: 862px;
    left:-219px;
    top:-361px;
}
.watch_bike_2{
    position: absolute;
    background: url("../images/360_02.png");
    background-size: cover;
    width: 1003px;
    height: 926px;
    left:-501px;
    top:-413px;
}
.watch_bike_3{
    position: absolute;
    background: url("../images/360_03.png");
    background-size: cover;
    width: 1383px;
    height: 816px;
    left:-691px;
    top:-408px;
}
.watch_bike_4{
    position: absolute;
    background: url("../images/360_04.png");
    background-size: cover;
    width: 459px;
    height: 912px;
    left:-229px;
    top:-406px;
}
.watch_bike_5{
    position: absolute;
    background: url("../images/360_05.png");
    background-size: cover;
    width: 1459px;
    height: 826px;
    left:-729px;
    top:-413px;
}
.watch_bike_6{
    position: absolute;
    background: url("../images/360_06.png");
    background-size: cover;
    width: 1356px;
    height: 929px;
    left:-678px;
    top:-439px;
}